////////////////////////////
/// BUTTONS
///////////////////////////
$ButtonMinWidth: 200px;
$ButtonMinHeight: 55px;
$ButtonMargin: 15px;
$ButtonBorderRadius:25px;
$ButtonFontSize:1.2rem;
$ButtonFontWeight:500;
$ButtonBackgroundSize:300% 100%;






////////////////////////////
/// END BUTTONS
///////////////////////////