.code-body {
    height: 500px;
    background-color: #2b2e31;
    border-radius: 10px;
}

.hidden-code-body {
    height: 60px;
    transition: visibility 0s, opacity 0.375s linear;
}

.show-code-body {
    height: 400px;
    transition: visibility 0s, opacity 1s linear;
}

.hidden-code-child {
    visibility: hidden;
    transition: visibility 0s, opacity 0.375s linear;
}

.show-code-child {
    visibility: visible;
    transition: visibility 0s, opacity 1s linear;
}
.code-title { color: #ecb14b; font-weight: 500;}