$circle-gray : #e4e4e4;
$header-black : #242a32;
$background-color : #6fcae7;
$tab-text : #5d5d5d;
$white			 : #fff;
$reviews-text-black: #363636;
$white-light-gray : #f9f9f9;

@mixin user-select() {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}


#aspect-content {
    margin: 50px 0 0;
    font-family: "Poppins", sans-serif;

    * {
        box-sizing: border-box;
    }
}

.aspect-tab {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 5px;
    border-radius: 4px;
    background-color: #838996;
    box-shadow: 0 0 0 1px rgba(236, 236, 236, 1);
    opacity: 1;
    transition: box-shadow .2s, opacity .4s;

    &:hover {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .11);
    }
}

.aspect-input {
    display: none;
}

.aspect-input:checked~.aspect-content+.aspect-tab-content {
    max-height: 3000px;
}

.aspect-input:checked~.aspect-content:after {
    transform: rotate(0);
}

.aspect-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    z-index: 1;
    cursor: pointer;

    &:hover~.aspect-content:after {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM1NTZBRUEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=');
    }
}

.aspect-content {
    position: relative;
    display: block;
    height: 80px;
    margin: 0;
    padding: 0 15px 0 15px;
    font-size: 0;
    white-space: nowrap;
    cursor: pointer;
    @include user-select();

    &:before,
    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
    }

    &:before {
        height: 100%;
    }

    &:after {
        position: absolute;
        width: 24px;
        height: 100%;
        right: 30px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=');
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
    }
}

.aspect-name {
    display: inline-block;
    width: 75%;
    margin-left: 16px;
    font-weight: 500;
    color: $header-black;
    white-space: normal;
    text-align: left;
}

.all-opinions,
.aspect-name {
    font-size: 18px;
    line-height: 18px;
}

.all-opinions {
    color: $tab-text;
    text-align: left;
}

.aspect-content+.aspect-tab-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}

.aspect-content>div,
.aspect-content>div {
    vertical-align: middle;
}


.aspect-tab-content {
    background-color: $white-light-gray;
    font-size: 0;
    text-align: justify;
}

.sentiment-wrapper {
    padding: 24px 30px 30px;
}

.sentiment-wrapper>div {
    display: inline-block;
    width: 33.3%;
    max-width: 390px;
    padding: 0 5px;
    box-sizing: border-box;
    vertical-align: top;
    cursor: default;
}

.sentiment-wrapper>div>div {
    width: 100%;
    padding: 16px 24px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ececec;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .aspect-label {
        max-height: 102px;
    }

    .aspect-content {
        height: auto;
        padding: 10px 87px 10px 30px;

        &:before {
            display: none;
        }

        &:after {
            top: 0;
        }
    }

    .aspect-content>div {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .sentiment-wrapper>div {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .sentiment-wrapper>div:not(:first-child) {
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .aspect-label {
        max-height: 140px;
    }

    .all-opinions {
        margin-bottom: 10px;
    }

    .all-opinions+div>span:first-child {
        margin: 0;
    }
}